  <main>
    <div class="container">
      
    <div class="row d-flex align-items-center justify-content-center">
      <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h1>Lo sentimos, {{nombre}}. El día {{fecha}}, a las {{hora}} ya ha sido reservado.<br>
            Por favor, seleccione una nueva cita.<br>
            </h1>
              

        </div>

    <div class="row d-flex align-items-centerjustify-content-center">
        <div class="col-12 d-flex align-items-centerjustify-content-center">
            <form method="get" action="/">
            <button class= "btn-secondary">Volver al formulario
            </form>
        </div>
    </div>      
    </div>
  </main>