  <main>
    <div class="container ">
      
    
      <div class="row d-flex align-items-center justify-content-center">
         <div class="col-12 d-flex align-items-center justify-content-center titulo">
          <h1 class="font-effect-outline">Mucho te quiero perrito</h1>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">

            <h4>¿Tienes cosas que hacer, ir a algún sitio o quedar con alguien?</h4>

        </div>
         <div class="col-12 d-flex align-items-center justify-content-center">

            <h4>¡Confíale tu perro a uno de nuestros paseadores para liberar algo de tiempo en tu día tan ocupado!</h4>

        </div>


  <div class="imagen ">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class= "imagenes">
        <img src="/images/perrocorrea.jpg" 
         class="d-inline-block align-top" alt="">
         </div>
        </div>
        
    </div>
  </div>



      </div>

    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center mensajes">
            <form method="get" action="/citas/nueva">
            <button class= " btn btn-secondary">¡Reserva un paseo con nosotros!</button>
            </form>
        </div>
    </div>      
    </div>
  </main>