  <main>
    <div class="container">
  
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <h4>
              Hola {{nombre}}, su petición de cita se ha realizado correctamente.
              Le esperamos el día {{fecha}} a las {{hora}}.
            
            </h4>

        </div>
        
        <div class="col-12 d-flex align-items-center justify-content-center">
          <form method="get" action="/">
            <button class= "btn-secondary">Volver a la página principal
            </form>
        </div>
       
      </div>      
    </div>
  </main>